@using CleanStudentManagement.Models
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CleanStudentManagement.UI</title>
    <link rel="stylesheet" href="~/css/vapour.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CleanStudentManagement.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (HttpContextAccessor.HttpContext.Session.GetString("loginDetails") != null)
        {
            var sessionObj = HttpContextAccessor.HttpContext.Session.GetString("loginDetails");
            var loginDetails = JsonConvert.DeserializeObject<LoginViewModel>(sessionObj);
            @if(loginDetails.Role==1)
            {
                <partial name="_adminnav" />
            }
            @if (loginDetails.Role == 2)
            {
                <partial name="_teachernav" />
            }
            @if (loginDetails.Role == 3)
            {
                <partial name="_studentnav" />
            }
        }
        else
        {
            <partial name="_defaultnav" />
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CleanStudentManagement.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
